<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/images/favicon.ico" rel="shortcut icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base/reset.css">
    <link rel="stylesheet" href="/static/css/base/global.css">
    <link rel="stylesheet" href="/static/css/components/mousemove.css">
    <link rel="stylesheet" href="/static/css/layout/navbar.css">
    <link rel="stylesheet" href="/static/css/layout/footer.css">
    <link rel="stylesheet" href="/static/css/profile/profilepage.css">
    <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
    <script src="/static/components/mousemove.js" defer></script>
    <script src="/static/components/layout/navbar.js" defer></script>
    <script src="/static/components/layout/footer.js" defer></script>
    <link rel="stylesheet" href="/static/css/profile/profile.css">
	<link rel="stylesheet" href="/static/css/layout/navbar.css">
    <link rel="stylesheet" href="/static/css/layout/footer.css">
    <script src="/static/components/layout/navbar.js" defer></script>
    <script src="/static/components/layout/sidebar.js" defer></script>
    <script src="/static/components/layout/footer.js" defer></script>
    <script src="/static/components/profile.js" defer></script>
    <title>個人頁面</title>
</head>
<body>
    <div id="myCursor"></div>
  <div id="circle"></div>
  <nav>
    <div class="area">
      <div class="logo">
        <img src="/static/images/logo.jpg" alt="nicebodylogo">
        <h1>Nice巴底</h1>
      </div>
      <div class="middle">
        <div class="wrap">
          <a href="/" class="nav-link">Home</a>
          <a href="/robott/generateRecipes" class="nav-link">Robot</a>
          <a href="/goal/goalMain" class="nav-link">Record</a>
          <a href="/task/taskPage" class="nav-link">Task</a>
          <a href="/community/communityMain" class="nav-link">Community</a>
        </div>
        <div class="icon">
          <i class="fa-solid fa-bars" id="menuIcon" aria-hidden="true"></i>
          <i class="fa-solid fa-xmark" id="closeIcon" aria-hidden="true"></i>
        </div>
      </div>
      <div class="logSign">
        <a href="">Log in</a>
        <a href="">Sign up</a>
      </div>
      <div class="alreadyLogin">
        <a href="/profile/profile">
          <img src="/static/images/user1.png" alt="">
          <h3>煙燻</h3>
          <a href="/profile/login">
            <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
        </a>
    </div>
  </nav>

    <article>
        <section class="profile">
            <img src="/static/images/dafult-picon.jpg" alt="Profile Picture" class="profile-picture" id="profile-picture">
            <input type="file" id="upload-picture" accept="image/*" style="display: none;">
            <div class="title">
                <input type="text" id="name">
                <i class="fa-solid fa-lock lock-icon"></i>
            </div>
            <button class="button">關注列表</button>
            <button class="button">收藏列表</button>
        </section>

        <section class="settings">
            <div class="progress-bar">
                <div class="level">
                  <span>LV.</span>3
                </div>
                <form action="test.aspx" method="get">
                  <progress value="0.5"></progress>
                </form>
            </div>

            <div class="container">
                <div class="out1">
                    <div class="out2">
                        <div class="mail">
                            <div class="title">
                                <p>電子郵件</p>
                                <i class="fa-solid fa-lock lock-icon"></i>
                            </div>
                            <input type="text" id="email">
                        </div>
                        <div class="gender">
                            <div class="title">
                                <p>性別</p>
                                <i class="fa-solid fa-lock lock-icon"></i>
                            </div>    
                            <div class="gbt">
                                <button type="button" id="maleButton" class="gender-button" onclick="selectGender('male')">男性</button>
                                <button type="button" id="femaleButton" class="gender-button" onclick="selectGender('female')">女性</button>
                            </div>
                        </div>
                    </div>

                    <div class="out2">
                        <div class="password">
                            <div class="title">
                                <p>密碼</p>
                                <i class="fa-solid fa-lock lock-icon"></i>
                            </div>
                            <input type="password" id="password">
                        </div>
                        <div class="birthday">
                            <div class="title">
                                <p>生日</p>
                                <i class="fa-solid fa-lock lock-icon"></i>
                            </div>   
                            <div>
                                <input type="date" id="birthday">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="closesetting">
                    <button class="button">變更個資</button>
                </div>
            </div>
        </section>
    </article>
<script src="profile.js"></script>

<div class="container-fluid pt-5">
    <footer id="footer-container"></footer>
 </div> 

</body>
</html>